<h2>Planning Applications</h2>
<p>
  <a [routerLink]="['/planningapps/new']" class="btn btn-primary">New Planning App</a>
</p>

<div class="well">
  <div class="form-group">
    <label for="Planning Status">Planning Status</label>
    <select id="planningStatus" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of statuses" value="{{ m.id }}">{{ m.name }}</option>
    </select>  
  </div>
</div>
  
<head>
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  th, td {
      text-align: left;
      padding: 8px;
  }
  .highlightOverdue{
  background: rgb(245, 165, 165);
  } 

  .highlightDue{
  background: rgb(226, 225, 159); 
  } 
  /* tr:nth-child(even) {background-color: #f2f2f2;} */
  </style>
</head>

<table class="table">
  <thead>
    <tr>
      <th>App Id</th>
      <th>Customer</th>
      <th>Name</th>
      <th>State</th>
      <th>State Status</th>
      <th>Due By </th>
      <th>Next State</th>
      <th>Planning Completion Date</th>
    </tr>
  </thead>
  <!-- <tr *ngFor="let r of queryResult.items">
    <td>{{ r.id }}</td>
    <td>
      <a [routerLink]="['/vehicles/', v.id]">View</a>
    </td>
  </tr> -->
  <tr *ngFor="let v of queryResult.items" [class.highlightOverdue]="v.currentStateStatus == 'Overdue'" [class.highlightDue]="v.currentStateStatus == 'Due'">
      <td>{{ v.id }}</td>
      <td>{{ v.customerName}}</td>
      <td>{{ v.name }}</td>
      <td>{{ v.currentStateStatus }}</td>
      <td>{{ v.currentState }}</td>
      <td>{{ v.expectedStateCompletionDate }}</td>
      <td>{{ v.nextState }}</td>
      <td>{{ v.completionDate }}</td>
      <td>
        <a [routerLink]="['/planningapps/', v.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
<!-- <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination> -->
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
