<h3>Applications In Progress</h3>

<div class="well">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
      <select id="planningStatus" class="form-control" placeholder="Search" [(ngModel)]="query.planningAppType" (change)="onStateFilterChange()">
        <option value=""></option>
        <option *ngFor="let m of stateStatuses" value="{{ m.name }}">{{ m.name }}</option>
      </select>  
  </div>
</div>


<head>
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  th, td {
      text-align: left;
      padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;} */
  </style>
</head>
<div class="well">
<table class="table table-hover" >
  <thead>
    <tr>
      <th></th>
      <th>Reference Id</th>
      <th>Customer</th>
      <th>Description</th>
      <th>Status</th>
      <th>State</th>
      <th>Due By </th>
      <th>Planning App Id</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  
    <tr *ngFor="let v of queryResult.items">
      <div *ngIf="v.currentStateStatus=='Complete'">
          <td><button class="btn btn-success btn-xs glyphicon glyphicon-ok" type="button"></button> </td>
      </div>
      <div *ngIf="v.currentStateStatus=='OnTime'">
          <td><button class="btn btn-success btn-xs glyphicon glyphicon-thumbs-up" type="button"></button> </td>
      </div>
      <div *ngIf="v.currentStateStatus=='Due'">
            <td><button class="btn btn-warning btn-xs glyphicon glyphicon-exclamation-sign" type="button"></button></td>
      </div>
      <div *ngIf="v.currentStateStatus=='Overdue'">
            <td><button class="btn btn-danger btn-xs glyphicon glyphicon-exclamation-sign" type="button"></button></td>
      </div>
      <td>{{ v.planningReferenceId }}</td>
      <td>{{ v.customerName}}</td>
      <td>{{ v.name }}</td>
      <td>{{ v.currentStateStatus }}</td>
      <td>{{ v.currentState }}</td>
      <td>{{ v.expectedStateCompletionDate }}</td>
      <td>{{ v.applicationNo }}</td>
      <td>{{ v.completionDate }}</td>
      <td>
        <a [routerLink]="['/planningapps/', v.id]" class="btn btn-primary btn-xs glyphicon glyphicon-edit"></a>
      </td>
    </tr>
</table>
</div>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
