<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">vega</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Dashboard
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/planningapps']">
                        <span class='glyphicon glyphicon-list-alt'></span> Applications In Progress
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['/planningapps/new']">
                            <span class='glyphicon glyphicon-plus'></span> New Planning Application
                        </a>
                    </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['/customers']">
                            <span class='glyphicon glyphicon-user'></span> Customers
                        </a>
                    </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/customers/new']">
                        <span class='glyphicon glyphicon-plus'></span> Add Customer
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['/planningapps']">
                            <span class='glyphicon glyphicon-list-alt'></span> All Applications
                        </a>
                    </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['/stateinitialisers']">
                            <span class='glyphicon glyphicon-home'></span> State Generators
                        </a>
                    </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/vehicles']">
                        <span class='glyphicon glyphicon-home'></span> Vehicles
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/vehicles/new']">
                        <span class='glyphicon glyphicon-plus'></span> New Vehicles
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
