<h2>Customers</h2>
<p>
  <a [routerLink]="['/customers/new']" class="btn btn-primary">New Customer</a>
</p>



<div class="well">

  <div class="form-group">
      <label class="control-label col-sm-1" >Search</label>

      <input id="searchCriteria" (input)="onSearchChange($event.target.value)" type="text" class="form-control" [(ngModel)]="query.searchCriteria" name="searchCritera">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-3">
        </div>
  </div>
</div>
  
<head>
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
</head>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Customer Address</th>
      <th>Email</th>
      <th>Home No</th>
      <th>Mobile No</th>
    </tr>
  </thead>

  <tr *ngFor="let v of queryResult.items">
      <td>{{ v.firstName}}</td>
      <td>{{ v.lastName }}</td>
      <td>{{ v.customerAddressSummary }}</td>
      <td>{{ v.emailAddress }}</td>
      <td>{{ v.telephoneHome }}</td>
      <td>{{ v.telephoneMobile }}</td>
      <td>
        <a [routerLink]="['/customers/edit/', v.id]">Edit</a>
      </td>
      <td>
          <a [routerLink]="['/customers/planningapps/', v.id]">Applications</a>
        </td>
    </tr>
  </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
