<h2>Customer Planning Applications</h2>
<p>
  <a [routerLink]="['/planningapps/new']" class="btn btn-primary">New Planning App</a>
</p>

<div class="well">
  <div class="form-group">
    <label for="Planning Status">Planning Status</label>
    <select id="planningStatus" class="form-control" [(ngModel)]="query.planningAppType" (change)="onStateFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of stateStatuses" value="{{ m.name }}">{{ m.name }}</option>
    </select>  
  </div>
</div>
  
<head>
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  th, td {
      text-align: left;
      padding: 8px;
  }
  .highlightOverdue{
  background: rgb(245, 165, 165);
  } 
  .highlightDue{
  background: rgb(226, 225, 159); 
  } 
  .highlightInProgress{
  background: rgb(159, 219, 135); 
  } 
  .highlightTerminated{
  background: rgba(158, 92, 92, 0.747);
  } 


  /* tr:nth-child(even) {background-color: #f2f2f2;} */
  </style>
</head>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Reference Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>State Status</th>
      <th>State</th>
      <th>Due By </th>
      <th>Exp Completion Date</th>
    </tr>
  </thead>

  <!-- <tr *ngFor="let v of queryResult.items" [class.highlightTerminated]="v.planningStatus == 'Terminated'"> -->
  <tr *ngFor="let v of queryResult.items">
      <div *ngIf="v.planningStatus=='Complete'">
          <td><button class="btn btn-success btn-xs glyphicon glyphicon-ok" type="button"></button> </td>
      </div>
      <div *ngIf="v.planningStatus=='InProgress'">
          <td><button class="btn btn-success btn-xs glyphicon glyphicon-thumbs-up" type="button"></button> </td>
      </div>
      <div *ngIf="v.planningStatus=='Terminated'">
          <td><button class="btn btn-danger btn-xs glyphicon glyphicon-ban-circle" type="button"></button></td>
    </div>
      <td>{{ v.planningReferenceId }}</td>
      <td>{{ v.name }}</td>
      <td>{{ v.planningStatus }}</td>
      <td>{{ v.currentStateStatus }}</td>
      <td>{{ v.currentState }}</td>
      <td>{{ v.expectedStateCompletionDate }}</td>
      <td>{{ v.completionDate }}</td>
      <td>
        <a [routerLink]="['/planningapps/', v.id]" class="btn btn-primary btn-xs glyphicon glyphicon-edit"></a>
      </td>
    </tr>
  </tbody>
</table>
<!-- <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination> -->
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
