<h2>Customer Planning Applications</h2>
<p>
  <a [routerLink]="['/planningapps/new']" class="btn btn-primary">New Planning App</a>
</p>

<div class="well">
  <div class="form-group">
    <label for="Planning Status">Planning Status</label>
    <select id="statusSelected" class="form-control" [(ngModel)]="statusSelected" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of planningStatus" value="{{ m}}">{{ m }}</option>
    </select>  
  </div>
</div>
  
<head>
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  th, td {
      text-align: left;
      padding: 8px;
  }
  .highlightOverdue{
  background: rgb(245, 165, 165);
  } 
  .highlightDue{
  background: rgb(226, 225, 159); 
  } 
  .highlightInProgress{
  background: rgb(159, 219, 135); 
  } 


  /* tr:nth-child(even) {background-color: #f2f2f2;} */
  </style>
</head>

<table class="table">
  <thead>
    <tr>
      <th>App Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>State</th>
      <th>Due By </th>
      <th>Next State</th>
      <th>Completion Date</th>
    </tr>
  </thead>

  <tr *ngFor="let v of queryResult.items" [class.highlightInProgress]="v.planningStatus == 'InProgress'" >
      <td>{{ v.id }}</td>
      <td>{{ v.name }}</td>
      <td>{{ v.planningStatus }}</td>
      <td>{{ v.currentState }}</td>
      <td>{{ v.expectedStateCompletionDate }}</td>
      <td>{{ v.nextState }}</td>
      <td>{{ v.completionDate }}</td>
      <td>
        <a [routerLink]="['/planningapps/', v.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
<!-- <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination> -->
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
